<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'events/base.html' %}
{% block content %}
<center>
    <h1>Add venue to database</h1>
    <br><br>
    {% if submitted%}
        your venue was submitted successfully
    {% else %}

        <form action=""method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" class=" btn btn-secondary">

        </form>

    {% endif %}




</center>
{% endblock %}
</body>
</html>